<mat-toolbar color="primary">
  <button mat-flat-button color="accent" (click)="goToProblem()">
    Go to Problem
  </button>
  <div class="search-container">
    <input
      placeholder="Search..."
      [(ngModel)]="searchText"
      (keydown)="onSearchKeydown($event)"
    />
    <div *ngIf="showErrorMessage" class="error-message">Invalid problem ID</div>
  </div>
  <div class="spacer"></div>
  <button mat-flat-button class="custom-green-button" (click)="runCode()">
    Run Code
  </button>
  <div class="spacer"></div>
</mat-toolbar>
