<div class="problem-description-scroll">
  <div class="tabs">
    <div
      class="tab"
      [class.active]="activeTab === 'description'"
      (click)="activeTab = 'description'"
    >
      Description
    </div>
    <div
      class="tab"
      [class.active]="activeTab === 'solution'"
      (click)="activeTab = 'solution'"
      *ngIf="problemData?.solution"
    >
      Solution
    </div>
  </div>

  <div class="content-container">
    <div
      class="problem-description"
      [innerHTML]="sanitizedDescription"
      *ngIf="activeTab === 'description'"
    ></div>
    <div
      class="problem-solution"
      [innerHTML]="sanitizedSolution"
      *ngIf="activeTab === 'solution'"
    ></div>
  </div>
</div>
